@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: recharge;
  src: url(./assets/fonts/recharge\ bd.ttf);
}
.ff-recharge{
  font-family: 'recharge';
}
/* 
*{
  border: 1px solid red;
} */
.bg-size{
  background-size: 100% 100%;
}


/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px #000; */
  border-radius: 10px;
  opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
  opacity: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
  opacity: 0;
}


.Blockchain .slick-list {
  overflow: visible;
  position: relative;
  z-index: 1;
}

.Blockchain .slick-list::after {
  content: ' ';
  position: absolute;
  top: 0px;
  bottom: -15px;
  width: 6000px;
   /* height: 100%; */
  right: 84.6%;
  z-index: 1;
  background-color: #040404;
}


